@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  transform: translate(-10px, 5px);
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin: .5rem; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.modal-btn {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin: .5rem; }
  .modal-btn .modal-btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.5s ease-out;
    transform: rotate(180deg); }
    .modal-btn .modal-btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .modal-btn .modal-btn-line:nth-child(2) {
      opacity: 0; }
    .modal-btn .modal-btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

html {
  scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

body {
  background-color: #f9f9f9; }

a,
li,
i {
  text-decoration: none;
  list-style: none; }

p {
  color: white;
  z-index: 1; }

header {
  text-align: center;
  background-color: black; }
  header .logo {
    max-width: 50%; }
  header h1 {
    color: white;
    font-size: 1rem;
    padding-bottom: .5rem;
    font-weight: normal;
    margin-bottom: .5rem; }

.nav_spacer {
  min-height: 5vh;
  width: 100%; }

nav {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh; }
  nav .pnc_small {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: white;
    padding: .3rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: none; }
    nav .pnc_small.show {
      display: block;
      animation-name: showPNCSmall;
      animation-duration: 1s; }
  nav .highlight {
    color: white;
    padding: .5rem; }
    nav .highlight:hover {
      color: #C0111F;
      transition: all 0.5s ease-out; }
  nav .menu_item {
    padding: 0.5rem 0.5rem; }
    nav .menu_item .nav_name {
      display: none; }

@keyframes showPNCSmall {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nav_overlay {
  position: absolute;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;
  padding-top: .5rem;
  top: 0; }
  .nav_overlay .nav_overlay_item {
    top: 0;
    left: 0;
    margin-top: -1rem;
    padding: 1rem; }
    .nav_overlay .nav_overlay_item a {
      text-decoration: none;
      color: white; }
      .nav_overlay .nav_overlay_item a:hover {
        color: #C0111F;
        transition: all 0.5s ease-out; }
  .nav_overlay.show {
    display: flex; }

.sticky_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 2; }

.name {
  text-align: center;
  width: 100%; }
  .name li {
    font-size: 1.5rem;
    padding: 0.25rem;
    font-weight: 1000; }

.icons {
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: auto; }
  .icons a {
    height: auto;
    padding: .5rem;
    color: black; }
    .icons a:hover {
      color: #C0111F;
      transition: all 0.5s ease-out; }

.about_me {
  position: relative;
  width: 100%;
  height: auto; }
  .about_me .portrait {
    width: auto;
    height: 150px;
    border-radius: 0 75px 75px 0; }
  .about_me .about_me_title {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    transform: translateY(-50%);
    font-size: 1em;
    overflow: hidden; }
    .about_me .about_me_title h2 {
      padding-top: .5rem;
      padding-bottom: .5rem; }
    .about_me .about_me_title .title-line {
      height: 3px;
      width: 100%;
      background-color: black; }

.about_me_content {
  position: relative;
  margin: 2vw 5vh 2vw 5vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-image: url(../img/about_me_background.jpg);
  background-position: center;
  background-size: cover; }
  .about_me_content:after {
    content: " ";
    position: absolute;
    background: rgba(68, 68, 68, 0.8);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.about_me_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .about_me_video iframe {
    padding: 1rem; }

.contact_me_button {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  width: 100%; }
  .contact_me_button button {
    position: absolute;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    box-shadow: 0 20px 50px rbga(0, 0, 0, 0.5);
    border: black solid 1px;
    padding: 1rem;
    border-radius: 75px;
    cursor: pointer; }
    .contact_me_button button:hover {
      color: black;
      background-color: #C0111F;
      border-color: #C0111F;
      font-weight: bolder;
      transition: all 0.5s ease-out; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(68, 68, 68, 0.7); }
  .modal .modal-content {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15% auto;
    padding: 20px;
    width: 75%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    animation-name: modalOpen;
    animation-duration: 1s;
    z-index: 2; }
    .modal .modal-content .contact_portrait {
      position: absolute;
      top: -58.5px;
      left: 50%;
      transform: translateX(-50%); }
    .modal .modal-content h1 {
      margin: 3vh 0 2vh 0;
      color: white; }
    .modal .modal-content form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .modal .modal-content form input,
      .modal .modal-content form textarea {
        width: 75%;
        height: 25px;
        margin: .25rem;
        font-size: 1.15em; }
      .modal .modal-content form textarea {
        height: 75%; }
      .modal .modal-content form .submit {
        height: 4vh;
        border-radius: 75px;
        border: none;
        color: white;
        background-color: red;
        cursor: pointer; }
        .modal .modal-content form .submit:hover {
          opacity: .3; }
      .modal .modal-content form .contact_validation {
        display: none; }
    .modal .modal-content .closeBtn {
      position: absolute;
      top: 0;
      right: 2vw;
      color: white;
      font-size: 50px; }
      .modal .modal-content .closeBtn:hover, .modal .modal-content .closeBtn:focus {
        color: #444;
        text-decoration: none;
        cursor: pointer; }

@keyframes modalOpen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.investors {
  position: relative;
  width: 100%;
  height: auto; }
  .investors .round_block {
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 0 75px 75px 0;
    background-color: black; }
  .investors .investors_title {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    transform: translateY(-50%);
    overflow: hidden; }
    .investors .investors_title h2 {
      padding-top: .5rem;
      padding-bottom: .5rem; }
    .investors .investors_title .title-line {
      height: 3px;
      width: 100%;
      background-color: black; }

.investors_content {
  position: relative;
  margin: 2vw 5vh 2vw 5vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-image: url(../img/investors.JPEG);
  background-position: center;
  background-size: cover; }
  .investors_content:after {
    content: " ";
    position: absolute;
    background: rgba(68, 68, 68, 0.8);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.investors_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .investors_video iframe {
    padding: 1rem; }

.wholesale {
  position: relative;
  width: 100%;
  height: auto; }
  .wholesale .round_block {
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 0 75px 75px 0;
    background-color: black; }
  .wholesale .wholesale_title {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    transform: translateY(-50%);
    overflow: hidden; }
    .wholesale .wholesale_title .wholesale_title_mobile {
      display: block; }
    .wholesale .wholesale_title .wholesale_title_desktop {
      display: none; }
    .wholesale .wholesale_title .title-line {
      height: 3px;
      width: 100%;
      background-color: black; }

.wholesale_content {
  position: relative;
  margin: 2vw 5vh 2vw 5vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-image: url(../img/wholesale_marketing.jpg);
  background-position: center;
  background-size: cover; }
  .wholesale_content:after {
    content: " ";
    position: absolute;
    background: rgba(68, 68, 68, 0.8);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.wholesale_steps {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .wholesale_steps * {
    margin-top: 1.2vh;
    margin-bottom: 1.2vh; }
  .wholesale_steps h3 {
    font-size: 1em; }
  .wholesale_steps h3:first-child {
    font-size: 1.3em;
    font-weight: bold; }
  .wholesale_steps .wholesale_step_break {
    width: 60%;
    height: 3px;
    background-color: black;
    margin: 0 auto; }

.wholesale_process {
  position: relative;
  margin: 3vw 5vh 2vw 5vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  background-image: url(../img/wholesale_marketing_process.jpg);
  background-position: center;
  background-size: cover; }
  .wholesale_process:after {
    content: " ";
    position: absolute;
    background: rgba(68, 68, 68, 0.8);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  .wholesale_process h2 {
    color: white;
    z-index: 1; }
  .wholesale_process i {
    z-index: 1; }
  .wholesale_process p {
    padding: 1em;
    font-size: 1rem;
    color: white; }

@media screen and (max-width: 500px) {
  nav {
    justify-content: flex-end; }
    nav .menu_item {
      padding: 0.5rem 0.5rem; }
    nav .menu_item {
      display: none; }
    nav .menu-btn {
      display: inline; }
  .about_me .about_me_title h2 {
    transform: translateX(20%);
    font-size: 1em; }
  .investors .investors_title h2 {
    transform: translateX(20%);
    font-size: 1em; }
  .wholesale .wholesale_title h2 {
    transform: translateX(20%);
    font-size: 1em; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  nav {
    justify-content: flex-end; }
    nav .menu_item {
      padding: .5em;
      font-size: .8em; }
    nav .menu-btn {
      display: none; }
  .nav_overlay {
    display: none; }
  .name .span,
  .name li {
    font-size: 1.5rem; }
  .about_me .about_me_title h2 {
    transform: translateX(15%);
    font-size: 1.2em; }
  .investors .investors_title h2 {
    transform: translateX(15%);
    font-size: 1.2em; }
  .wholesale .wholesale_title h2 {
    transform: translateX(15%);
    font-size: 1.2em; }
  .wholesale .wholesale_title .wholesale_title_desktop {
    display: block; }
  .wholesale .wholesale_title .wholesale_title_mobile {
    display: none; } }

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .logo {
    max-width: 30%; }
  nav {
    justify-content: flex-end; }
    nav .menu_item,
    nav .ham {
      padding: 0.5rem 2rem; }
    nav .menu-btn {
      display: none; }
  .nav_overlay {
    display: none; }
  .name .span,
  .name li {
    font-size: 1.75rem; }
  .about_me_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw; }
    .about_me_content p {
      padding: 1rem; }
  .about_me_video {
    flex-direction: row; }
    .about_me_video iframe {
      width: 640px;
      height: 350px; }
  .modal .modal-content {
    width: 60%; }
  .investors_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw; }
    .investors_content p {
      padding: 1rem; }
  .investors_video {
    flex-direction: row; }
    .investors_video iframe {
      width: 640px;
      height: 350px; }
  .wholesale_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw; }
    .wholesale_content p {
      padding: 1rem; }
  .wholesale_process {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 20vw;
    margin-left: 20vw; }
    .wholesale_process p {
      padding: 2rem; }
  .wholesale .wholesale_title .wholesale_title_desktop {
    display: block; }
  .wholesale .wholesale_title .wholesale_title_mobile {
    display: none; } }

@media screen and (min-width: 1501px) {
  .logo {
    max-width: 30%; }
  nav {
    justify-content: flex-end; }
    nav .menu_item,
    nav .ham {
      padding: 0.5rem 4rem; }
    nav .menu-btn {
      display: none; }
    nav .menu_item .nav_name.show {
      all: unset;
      display: block;
      position: absolute;
      color: white;
      top: 50%;
      left: 0;
      padding-left: 2rem;
      transform: translateY(-50%); }
      nav .menu_item .nav_name.show:nth-child(2) {
        left: 15%; }
  .nav_overlay {
    display: none; }
  .name .span,
  .name li {
    font-size: 1.75rem; }
  .about_me_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw; }
    .about_me_content p {
      padding: 2rem; }
  .about_me_video {
    flex-direction: row; }
    .about_me_video iframe {
      width: 640px;
      height: 350px; }
  .modal .modal-content {
    width: 40%; }
  .investors_content {
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 10vw;
    margin-left: 10vw; }
    .investors_content p {
      padding: 2rem; }
  .investors_video {
    flex-direction: row; }
    .investors_video iframe {
      width: 640px;
      height: 350px; }
  .wholesale .wholesale_title .wholesale_title_desktop {
    display: block; }
  .wholesale .wholesale_title .wholesale_title_mobile {
    display: none; }
  .wholesale_content {
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 10vw;
    margin-left: 10vw; }
    .wholesale_content p {
      padding: 2rem; }
  .wholesale_process {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 30vw;
    margin-left: 30vw; }
    .wholesale_process p {
      padding: 2rem; } }
