// IPhone
@include mediaSm {
  nav {
    justify-content: flex-end;

    .menu_item {
      padding: 0.5rem 0.5rem;
    }

    .menu_item {
      display: none;
    }

    .menu-btn {
      display: inline;
    }

  }

  // Section Titles
  .about_me .about_me_title h2,
  .investors .investors_title h2,
  .wholesale .wholesale_title h2,
  .retail .retail_title h2 {
    transform: translateX(20%);
    font-size: 1.2em;
  }

}

// Tablets
@include mediaMd {
  nav {
    justify-content: flex-end;

    .menu_item {
      padding: .5em;
      font-size: 1em;
    }

    .menu-btn {
      display: none;
    }
  }

  .nav_overlay {
    display: none;
  }

  // Name
  .name {

    .span,
    li {
      font-size: 1.5rem;
    }
  }


  // Section Titles
  .about_me .about_me_title h2,
  .investors .investors_title h2,
  .wholesale .wholesale_title h2,
  .retail .retail_title h2 {
    transform: translateX(20%);
    font-size: 1.25em;
  }



  .wholesale .wholesale_title .wholesale_title_desktop {
    display: block;
  }

  .wholesale .wholesale_title .wholesale_title_mobile {
    display: none;
  }

}

// Desktops
@include mediaLg {
  .logo {
    max-width: 30%;
  }

  //Navbar
  nav {
    justify-content: flex-end;

    .menu_item,
    .ham {
      padding: 0.5rem 2rem;
    }

    .menu-btn {
      display: none;
    }

  }

  .nav_overlay {
    display: none;
  }


  // Name
  .name {

    .span,
    li {
      font-size: 1.75rem;
    }
  }

  // About Me Content
  .about_me_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 1rem;
    }
  }

  //About Me Video
  .about_me_video {
    flex-direction: row;

    iframe {
      width: 640px;
      height: 350px;
    }
  }

  // Contact Me Modal
  .modal .modal-content {
    width: 60%;
  }


  // Investors Content
  .investors_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 1rem;
    }
  }

  //Investors Video
  .investors_video {
    flex-direction: row;

    iframe {
      width: 640px;
      height: 350px;
    }
  }

  // Wholesale Content
  .wholesale_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 1rem;
    }
  }

  // Wholesale Process
  .wholesale_process {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 20vw;
    margin-left: 20vw;

    p {
      padding: 2rem;
    }
  }

  // Wholesale Title
  .wholesale .wholesale_title .wholesale_title_desktop {
    display: block;
  }

  .wholesale .wholesale_title .wholesale_title_mobile {
    display: none;
  }

  // Retail Content
  .retail_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 1rem;
    }
  }

  //Retail Video
  .retail_video {
    flex-direction: row;

    iframe {
      width: 640px;
      height: 350px;
    }
  }

}



// Widscreens
@include mediaXl {
  .logo {
    max-width: 30%;
  }

  nav {
    justify-content: flex-end;

    .menu_item,
    .ham {
      padding: 0.5rem 4rem;
    }

    .menu-btn {
      display: none;
    }

    .menu_item {

      .nav_name {

        &.show {
          all: unset;
          display: block;
          position: absolute;
          color: white;
          top: 50%;
          left: 0;
          padding-left: 2rem;
          transform: translateY(-50%);

          &:nth-child(2) {
            left: 15%;
          }
        }
      }
    }
  }

  .nav_overlay {
    display: none;
  }

  // Name
  .name {

    .span,
    li {
      font-size: 1.75rem;
    }
  }


  // About Me Content
  .about_me_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 2rem;
    }
  }

  //About Me Video
  .about_me_video {
    flex-direction: row;

    iframe {
      width: 640px;
      height: 350px;
    }
  }

  // Contact Me Modal
  .modal .modal-content {
    width: 40%;
  }

  // Investors Content
  .investors_content {
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 2rem;
    }
  }

  //Investors Video
  .investors_video {
    flex-direction: row;

    iframe {
      width: 640px;
      height: 350px;
    }
  }



  // Wholesale Title
  .wholesale .wholesale_title .wholesale_title_desktop {
    display: block;
  }

  .wholesale .wholesale_title .wholesale_title_mobile {
    display: none;
  }

  // Wholesale Content
  .wholesale_content {
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 2rem;
    }
  }

  // Wholesale Process
  .wholesale_process {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-right: 30vw;
    margin-left: 30vw;

    p {
      padding: 2rem;
    }
  }


  // Retail Content
  .retail_content {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;

    p {
      padding: 2rem;
    }
  }

  //Retail Video
  .retail_video {
    flex-direction: row;

    iframe {
      width: 640px;
      height: 350px;
    }
  }

}