@import "config";
@import "menu";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a,
li,
i {
  text-decoration: none;
  list-style: none;
}

//Header
header {
  text-align: center;
  background-color: black;

  .logo {
    max-width: 50%;
  }

  h1 {
    color: white;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

// Navigation
nav {
  position: relative;
  background-color: black;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;

  a {
    color: white;
  }

  .menu_item {
    padding: 0.5rem 0.5rem;
  }
}

.nav_overlay {
  position: relative;
  min-height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;

  .nav_overlay_item {
    top: 0;
    left: 0;
  }

  &.show {
    display: flex;
  }

  .nav_overlay_item {
    margin-top: -1rem;
    padding: 1rem;
  }
}

// Name
.name {
  text-align: center;
  margin: 0.5rem;

  .span,
  li {
    font-size: 1.25rem;
    padding: 0.25rem;
    font-weight: 1000;
  }

  .span {
    color: $secondary-color;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  li {
    padding: 0.25rem;
  }
}

// Icons
.icons {
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
  a {
    padding: 0.5rem;
    color: black;
    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}

// About Me

@import "mobile";
