@import "config";
@import "menu";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a,
li,
i {
  text-decoration: none;
  list-style: none;
}

//Header
header {
  text-align: center;
  background-color: black;

  .logo {
    max-width: 50%;
  }

  h1 {
    color: white;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

// Navigation
nav {
  position: relative;
  background-color: black;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

  a {
    color: white;
  }

  .menu_item {
    padding: 0.5rem 0.5rem;
  }
}

.nav_overlay {
  position: relative;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;

  .nav_overlay_item {
    top: 0;
    left: 0;
  }

  &.show {
    display: flex;
  }

  .nav_overlay_item {
    margin-top: -1rem;
    padding: 1rem;
  }
}

// Sticky header as the user scrolls down
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

// Adding some padding
.sticky + .nav_overlay_item {
  padding-top: 102px;
}

// Name
.name {
  text-align: center;
  margin: 1vh;

  .span,
  li {
    font-size: 1.25rem;
    padding: 0.25rem;
    font-weight: 1000;
  }

  .span {
    color: $secondary-color;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  li {
    padding: 0.25rem;
  }
}

// Icons
.icons {
  text-align: center;
  text-decoration: none;
  margin: 1vh;
  a {
    padding: 0.5rem;
    color: black;
    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}

// About Me
.about_me {
  width: 100%;
  background-color: black;
  position: relative;

  .about_me_title {
    position: absolute;
    background-color: white;
    width: 100%;
    h2 {
      color: white;
    }
  }

  p {
    color: white;
  }

  .portrait img {
    height: auto;
    max-width: 150px;
  }

  .about_me_video {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

@import "mobile";
